# Node.js
node_modules/
.env
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Build (producción)
dist/
build/

# React + Vite
*.local
.vite

# Prisma
.prisma/
*.db

# IDEs / editores de texto
.vscode/
.idea/
*.swp
